/*
 * Définition de la structure et des classes de structure
 *
 * Convention de nommage : `container` pour le conteneur principal, `col-*` pour les colonnes.
 * Exemple : `.container` pour un conteneur centré, `.col-8` pour une colonne de 8/12 de largeur.
 */

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

[class^="col-"] {
  flex: 0 0 auto;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333%;
}

.col-8 {
  width: 66.6667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333%;
}

.col-11 {
  width: 91.6667%;
}

.col-12 {
  width: 100%;
}
