/*
 *Définition de la typographie et des classes de typographie
 *
 * Convention de nommage : `text-*` pour la taille du texte, `font-*` pour la famille de police.
 * Exemple : `.text-lead` pour un texte de 24px, `.font-headline` pour la police 'Mozilla Headline'.
 */

 /* Police par défaut (texte régulier) */
body {
  font-size: 18px;
  line-height: 1.25;
  font-family: sans-serif;
}

/* Utilitaires de typographie */
.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
