/*
 *Définition de la typographie et des classes de typographie
 *
 * Convention de nommage : `text-*` pour la taille du texte, `font-*` pour la famille de police.
 * Exemple : `.text-lead` pour un texte de 24px, `.font-headline` pour la police 'Mozilla Headline'.
 */

body {
  font-size: 18px;
  line-height: 1.25;
  font-family: 'Mozilla Text', sans-serif;
}

.font-headline {
  font-family: 'Mozilla Headline', sans-serif;
}

.text-lead {
  font-size: 24px;
  line-height: 1.5;
}

.text-title-2 {
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.text-title-1 {
  font-size: 48px;
  line-height: 1.25;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}